
@{
    ViewData["Title"] = "Order Menu";
}

<div class="text-center">
    <h1 class="display-4">New Order Menu</h1>

    <!--maybe an image here-->

    <p>Available Options: </p>
    <br />
    <a asp-area="" asp-controller="Order" asp-action="SelectCustomer">
        <button type="button" class="btn btn-primary btn-outline-info">Place a New Order</button>
    </a>

    

</div>

