@model IEnumerable<TopTenMovies.DataAccess.Entities.Product>

@{
    ViewData["Title"] = "Product List";
}

<h1>Choose a Film to Purchase</h1>

<form asp-action="SetProduct">
    <table class="table">
        <thead>
            <tr>
                <th>
                    ProductId
                </th>
                <th>
                    Title
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <tr>
                    <td>
                        <div class="form-group">
                            <input type="radio" name="selectProduct" value="@Html.DisplayFor(modelItem => item.ProductId)" required />
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="form-group text-center">
        <input type="submit" value="Select Film" class="btn btn-primary btn-outline-info" />
    </div>
</form>