@model IEnumerable<TopTenMovies.DataAccess.Entities.Location>

@{
    ViewData["Title"] = "Select Location";
}

<h1>Choose a Location for Pickup:</h1>

<form asp-action="SetLocation">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Location ID
                </th>
                <th>
                    City
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <tr>
                    <td>
                        <div class="form-group">
                            <input type="radio" name="selectLocation" value="@Html.DisplayFor(modelItem => item.LocationId)" required />
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LocationId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="form-group text-center">
        <input type="submit" value="Choose Location" class="btn btn-primary btn-outline-info" />
    </div>
</form>