@{
    ViewData["Title"] = "Top Ten Movies - Home";
}

<div class="text-center">
    <h1 class="display-4">Top Ten Movie Store</h1>
    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
</div>
