
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<ul>
    <li>
        <a class="nav-link text-dark" asp-area="" asp-controller="Customer" asp-action="ListCustomers">Customer List</a>
    </li>

    <li>
        <a class="nav-link text-dark" asp-area="" asp-controller="Customer" asp-action="Create">Add Customer</a>
    </li>
</ul>

